#neweventpage{
    position: absolute;
    top:30%;
    left: 35%;
    background-color: rgb(216, 216, 216);
}
/* #navi{

    border: none;
    width: 400px;
    height: 20px;
    
} */


#info{
    border: solid 2px;
    width: 400px;
    height: 500px;
}

/* #neweventpage{
    width: 100%;
    height: 100%;
    
} */
#buttonbox{
    margin-left: 30%;
}

.hidden{
    display: none;
}

.new_event_divs{
    position: absolute;
    top: 20px;
    
}